<aside id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <div class="text-center p-2 border-2">
                <h1 class="text-white text-4xl font-mono p-6 uppercase">The big rxjs practice</h1>
            </div>
            <li>
                <a
                    href="#"
                    (click)="switchView('Dashboard')"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                    <svg aria-hidden="true"
                        class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                    </svg>
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    (click)="switchView('Map')"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                        </path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Map</span>
                    <span
                        class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>
                </a>
            </li>
            <!-- <li>
                <a href="#"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z">
                        </path>
                        <path
                            d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z">
                        </path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
                    <span
                        class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
                </a>
            </li> -->
        </ul>
    </div>
</aside>

<div class="p-4 sm:ml-64">
    <div class="text-center">
        <h1 class="text-black text-4xl font-mono p-6 uppercase">Adnan's big <span class="text-red-600">NG</span>venture
        </h1>
    </div>
</div>

<ng-container [ngSwitch]="selectedOption">
    <div class="p-4 sm:ml-64">
        <ng-template [ngSwitchCase]="'Dashboard'">
            <div class="container mx-auto p-4">
                <h2 class="text-2xl font-bold mb-4">Big Targets</h2>
                <ol class="list-decimal list-inside mb-6">
                    <li>All kinds of mappings</li>
                    <li>All kinds of major pipes</li>
                </ol>
        
                <h2 class="text-2xl font-bold mb-4">Covered Topics</h2>
                <p class="mb-4">This list will be updated continuously as I develop further features in it using RxJS. According
                    to <a href="https://www.learnrxjs.io/learn-rxjs/operators" class="text-blue-500 hover:underline">Learn
                        RXJS</a>, there are 98 operators in RxJs, and we'll try to cover every single one.</p>
        
                <ul class="list-inside mb-6">
                    <li>
                        <h3 class="text-lg font-bold">ajax</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Instead of using HttpClient, I used Rxjs Ajax (which I'm sure Angular uses too, but you never
                                know :stuck_out_tongue_winking_eye:)</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">map</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Mapped response to filter out the junk data coming from ajax call</li>
                            <li>So far, as per my research, we cannot use map and filter (rxjs) one together as both get a
                                similar array. Filter does not get a singular object one by one as expected. So we can filter
                                elements in map. Will continue updating it as we go.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">filter</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Usage is still not clear to me. Will keep on digging until I find more.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">from</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Successfully converted array of objects into an observable, piped it, and subscribed it. It is
                                subscribing to each individual value and we can process it accordingly.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">take</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Extracts the number of responses defined instead of all the response. It completes immediately
                                when the number is achieved instead of waiting for the response to be complete.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">startWith</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Adds a value before the incoming response/subscription value. I need to know a valid use case
                                for this one.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">race</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>The most fun operator I've encountered. We can race two observables, and the firstone to get to
                                the finish line wins, the other is cancelled. It's a beautiful feature chef's kiss</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">switchMap</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Used for subscribing to the inner observable and cancelling any previous ones</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">fromEvent</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Used to add an event listener on a DOM element</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">scan</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Used for state management. DID NOT KNOW THAT before 😅</li>
                            <li>Extended operator for reduce in arrays and streams, but reduce only provides the final
                                accumulated value. This provides the value on every iteration.</li>
                            <li>It has an accumulated and current value, and we can process that as we go. Pretty neat.</li>
                            <ul class="list-disc list-inside mb-2">
                                <li><strong>10.1</strong> <strong>withLatestFrom</strong></li>
                                <ul class="list-disc list-inside mb-2">
                                    <li>Combine source observable with the values emitted by inner observables.</li>
                                    <li>Emits a new value only when there is a new emission in the guiding stream. Now what is
                                        the guiding stream? It is the source/higher order observable. If I'm wrong, can someone
                                        comment and put me on the righteous path as I am just a man.</li>
                                    <li>Calculates ONLY when the source emits.</li>
                                </ul>
                            </ul>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">concatAll</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>This combines all inner observables and emits them one by one, sequentially. This is a
                                flattening operator.</li>
                            <li>Only has one active subscription at a time.</li>
                            <li>When all done, higher order (outer) observable is emitted.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">delay</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Adds a delay in emitting the observable with the given time (in ms, of course)</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">of</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Used to emit values sent as input.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">share</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Used to share (multicast) a single subscription to the underlying source observable.</li>
                            <li>To understand share, you need to know about multicast and refCount (explained below, don't worry
                                honey)</li>
                            <ul class="list-disc list-inside mb-2">
                                <li>multicast</li>
                                <ul class="list-disc list-inside mb-2">
                                    <li>A mechanism to introduce a Subject into the observable stream.</li>
                                    <li>This allows sharing a single subscription to the underlying stream between multiple
                                        subscribers.</li>
                                    <li>Basically, casting values in multiple observables at once. Wow 😍 but I still don't get
                                        it 😐</li>
                                    <li>To understand multicast properly, I dived into this link</li>
                                    <li><strong>My Explanation:</strong></li>
                                    <ul class="list-disc list-inside mb-2">
                                        <li>When we need to subscribe twice to an observable (depends on the use case, tbh), add
                                            multicast pipe with new Subject() as return.</li>
                                        <li>Side note: You will need to typecast as ConnectableObservable where type can
                                                be anything you want depending on the expected response.</li>
                                        <li>This will do nothing yet, as there is the final link called connect. To do this, you
                                            will need to simply do obs.connect and this will trigger a new magic.</li>
                                        <li>Once all these steps are done, you will be able to observe that there is only one
                                            response observed of maybe a thousand subscriptions made by our dear observable.
                                        </li>
                                        <li>Alas, all of this is deprecated now. Use share now 😜</li>
                                    </ul>
                                </ul>
                            </ul>
                            <li><strong>refCount</strong></li>
                            <ul class="list-disc list-inside mb-2">
                                <li>As long as there is at least one subscriber to our dear shared observable, this operator
                                    keeps an active subscription to the source observable. When all subscribers have
                                    unsubscribed, it will stop the active subscription too. Get it? No? I didn't too, baby 😘
                                </li>
                                <li>See when we use refCount, we don't need to explicitly use <strong>connect</strong> in a
                                    <strong>ConnectableObservable</strong></li>
                            </ul>
                            <li>Basically, share manages everything multicast did plus refCount, but internally, so you don't
                                have to worry about weird terms like refCount, connect, ConnectableObservable, etc.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">count</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Pretty self-explanatory, don't you think?</li>
                            <li>This mathematical operator counts the number of values emitted from the source observable.</li>
                            <li>Returns an output observable as a number, which specifies the number of elements emitted by the
                                observable.</li>
                            <li>It returns the value <strong>after</strong> the source observable is completed.</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-lg font-bold">withLatestForm</h3>
                        <ul class="list-disc list-inside mb-4">
                            <li>Useful when we have an inner observable that can have multiple emissions, but we only want to
                                use the latest emission value.</li>
                            <li>Note that this will only trigger when the source observable makes an emission.</li>
                        </ul>
                    </li>
                </ul>
            </div>    
        </ng-template>
        <ng-template [ngSwitchCase]="'Map'">
            <div>
                <app-map></app-map>
            </div>
        </ng-template>
    </div>    
</ng-container>
